@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
*{
    padding: 0;
    margin: 0;
}
body,html{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0.7)),url("https://i.pinimg.com/736x/70/97/1e/70971e2a8ab3887acb713d62c106259f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 100%;
    height: 5%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #0808086b;
    position: fixed;
    backdrop-filter: blur(10px);
}
.hamburger{
    list-style: none;
}
.hamburger a{
    text-decoration: none;
    color: #fff;
    display: none;
}
.ri-menu-3-line::before{
    font-size: x-large;
}
.closebtn{
    margin-left: 20px;
    list-style: none;
    margin-bottom: 20px;
}
.closebtn a{
    text-decoration: none;
    color: #fff;
}
.comb{
    display: flex;
    gap: 20px;
}
.sidebar{
    width: 100%;
    height: 5%;
    display:flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top:0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #000000a2;
    box-shadow: -10px 0 10px #80381b;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    backdrop-filter: blur(10px);
}
.sidebar ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sidebar .logo a{
    margin: 20px;
    font-size: 24px;
}
.sidebar .logo{
    margin-bottom: 20px;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.sidebar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    gap: 32px;
}
.navbar ul li a,.logo a{
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto';
    font-size: 0.8rem;
    cursor: pointer;
}
.sidebar ul li a,.logo a{
    align-items: flex-start;
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto';
    font-size: 1rem;
    cursor: pointer;
}
.navbar ul li a:hover{
    color:  #80381b;
}
.sidebar ul li a:hover{
    color:  #80381b;
}
.logo a{
    margin-left: 60px;
    font-size: 2rem;
    font-family: "Russo One", sans-serif;
    word-spacing: 5px;
}
.signup:hover{
    background-color: #441e0f;
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}
.signup{
    margin-right: 60px;
    background-color: transparent;
    color: #fff;
    padding: 5px 15px;
    border: 1px solid #fff;
    font-family: 'Roboto';
    cursor: pointer;
}
.facts{
    width: 20%;
    height: 45%;
    background-color:#80381b3b;
    margin-left: 60px;
    margin-top: 100px;
    border-radius: 50px;
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.9);
    margin-right: 50px;
}
.facts h1{
    margin-top: 20px;
    text-align: center;
    color: #80381b;
    font-family: 'Roboto';
}
.container{
    display: flex;
    justify-content: space-between;
}
.head{
    color: #fff;
    margin-top: 70px;
    flex:1;
    margin-bottom: 0;
}
.head h1{
    font-size: 5rem;
    font-family: "Russo One", sans-serif;
    word-wrap: break-word;
    text-align:end;
    margin-right: 140px;
    margin-top: 30px;
}
.head h3{
    font-size: 2.5rem;
    font-family: monospace;
    color: #7c381e;
}
.part{
    text-align: right;
}
.element{
    padding: 25px;
    text-align: center;
    font-family: 'Roboto';
    color: #000000ab;
}
.fact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.f{
    width: 80%;
    height: 90%;
}
.images{
    display: flex;
    width: 100%;
    height: 35%;
    gap: 1rem;
    margin-bottom: 3rem;
}
.images img{
    width: 30%;
    height: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 5px #000;
}
.t{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    color:#7c381e;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.t p{
    margin-top: 0.5rem;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: 550;
    font-family: monospace;
}
.roveroverview{
    width: 100%;
    color: white;
    font-family: "Russo One", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #000; */
}
.box{
    width: 90%;
    margin-bottom: 30px;
}
.table-container {
      overflow-x: auto;
      margin: 0 auto;
      max-width: 95%;
      border-radius: 8px;
      padding: 1rem;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 0.75rem 1rem;
      text-align: left;
      border-bottom: 1px solid #fff;
    }
    td{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 14px;
    }
    th {
      color: #fff;
      font-size: 1rem;
    }
.sent h1{
    color: #80381b;
}
.explore{
    width: 90%;
    height: 25%;

}
#page1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a0e01;
}
.con{
    width: 90%;
    background-color: #000;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.ex{
    color: #fff;
    margin: 10px 20px;
    font-family: 'Roboto';
    font-size: 14px;
}
.ex p{
    margin-bottom: 10px;
}
.btn{
    padding: 7px 15px;
    background-color:#7c381e;
    border: 1px solid black;
}
.btn:hover{
    cursor: pointer;
    background-color: #441e0f;
    transform: scale(1.03);
    transition: transform 0.3s ease;
}
.btn a{
    text-decoration: none;
    color: #000;
    font-family: "Russo One", sans-serif;
}
.btn a:hover{
    color: #fff;
}
.footer{
    width: 100%;
    height: 40%;
    background-color:#000;
}
.foot{
    color: #fff;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    line-height: 1.5rem;
    padding-top: 2.5rem;
}
.footer div h3{
    font-family: "Russo One", sans-serif;
    word-spacing: 5px;
}
.footer div p{
    font-family: 'Roboto';
    font-size: 14px;
}
.footer div p:hover{
    color: #80381b;
}
.res{
     color: #80381b;
    margin-top: 2.5rem;
    font-family: 'Roboto';
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 2.5rem; */
}
.follow p a{
    text-decoration: none;
    color:#fff;
}
.follow p a:hover{
    color:#80381b;
}
.end{
    margin-left: 80px;
    font-size: 14px;
    margin-bottom: 2.5rem;
}
.terms{
    margin-right: 80px;
    display: flex;
    gap: 40px;
    margin-bottom: 2.5rem;
}
.terms p a{
    text-decoration: none;
    color: #80381b;
}
.terms p a:hover{
    cursor: pointer;
    color:#fff;
}
.foot div h3{
        letter-spacing: 1px;
    }
@media(max-width: 1200px){
    #main{
        height: auto;
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .navbar{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .facts{
        width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 50px;
         background-color:#80381b54;
    }
    .element{
        width: 100%;
        color: #000;
    }
    .fact{
        flex:1;
    }
    .head h3{
        margin-left: 60px;
    }
    .images{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .images img{
        height: 500px;
    }
    .c{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .H{
        color: #471303;
        font-weight: 600;
    }
}
@media(max-width: 950px){
    .logo a{
        margin-left: 30px;
    }
    .signup{
        margin-right: 30px;
    }
    .head h1{
        margin-right: 100px;
    }
    .navbar ul{
        gap: 28px;
    }
    .facts h1{
        margin: 20px;
    }
}
@media(max-width: 880px){
    .logo a{
        margin-left: 20px;
        font-size: 1.5rem;
    }
    .signup{
        margin-right: 20px;
    }
    .head h1{
        margin-right: 80px;
        font-size: 4.5rem;
    }
    .navbar ul{
        gap: 20px;
    }
    .H{
        font-size: 12px;
    }
}
@media(max-width: 768px){
    #main{
        /* background-image: linear-gradient(rgba(0,0,0,0.7)),url("https://i.pinimg.com/736x/ca/17/ee/ca17ee1e20800e51e62a756074caa9f2.jpg"); */
        text-align:  center;
    }
    .hamburger a{
        display:flex;
    }
    .navbar .nav-links li a{
        display: none;
    }
    .head h1{
        font-size: 4rem;
    }
    .head h3{
        margin: 0;
    }
    .H{
        color: #441e0f;
    }
    .end{
        margin-left: 60px;
    }
    .terms{
        margin-right: 60px;
        gap: 30px;
    }
    .follow,.teammem,.creators,.contactus{
        text-align: start;
    } 
}
@media(max-width: 700px){
    .head h1{
        margin-right: 0;
        font-size: 3.5rem;
    }
    .head h3{
        font-size: 32px;
    }
    .images{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .images img{
        width: 95%;
        height: 450px;
    }
    .c{
        width: 100%;
    }
    .H{
        font-size: 8px;
        color: #80381b;
    }
    .H p{
        font-size: 14px;
    }
    .facts{
        display: flex;
        flex-direction: column;
    }
    .facts h1{
        color:#270b02;
        margin-bottom: 0;
        margin-top: 10px;
    }
    .element{
        padding: 15px;
        font-size: 14px;
    }
    td{
        font-size: 12px;
    }
    th{
        font-size: 14px;
    }
    .footer div h3{
        font-size: 15px;
    }
    .footer div p{
        font-size: 11px;
    }
    .end{
        font-size: 11px;
    }
    .ex p{
        font-size: 12px;
    }
    .end{
        margin-left: 40px;
    }
    .terms{
        margin-right: 40px;
        gap: 20px;
    }
}
@media(max-width: 590px){
    .head h1{
        margin-right: 20px;
        font-size: 3rem;
    }
    .images img{
        height: 350px;
    }
    .H p{
        font-size: 10px;
    }
    .facts{
        margin-top: 40px;
    }
    .sent h1{
        font-size: 1.5rem;
    }
    td{
        font-size: 10px;
    }
    .ex p{
        font-size: 11px;
    }
}
@media(max-width:520px){
    .facts h1{
        color: #000;
    }
    .comb{
        gap: 10px;
    }
    .t{
        display: flex;
        flex-direction: column;
    }
    .H{
        width: 100%;
    }
    .H p{
        margin-top: 3px;
        margin-bottom: 10px;
    }
    .foot{
        display: block;
        padding: 50px 30px 0;
    }
    .res{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .end{
        /* width: 100%; */
        display: flex;
        justify-content: flex-start;
        margin: 0 0 15px 0;
        padding: 0 30px 0;
    }
    .terms{
        display: flex;
        justify-content: flex-start;
        margin: 0 0 20px 0;
        padding: 0 30px 0;
    }
    .head h1{
        font-size: 2.5rem;
    }
}
@media(max-width: 420px){
   .logo a{
    font-size: 18px;
   } 
   .signup{
    padding: 3px 12px;
   }
   .element{
    padding-left: 0;
    padding-right: 0;
   }
}
@media(max-width: 390px){
    .head h1{
        font-size: 2rem;
    }
    .head h3{
        font-size: 1.5rem;
    }
    .logo a{
        font-size: 17px;
    }
    .signup{
        padding: 1.5px 8px;
        font-size: 12px;
    }
}
@media(max-width: 333px){
    .logo a{
        font-size: 14px;
    }
    .signup{
        padding: 1px 6px;
    }
}